<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {% seo %}

	<link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/landing.css' | relative_url }}" />
  {% if page.css %}
    <link rel="stylesheet" href="{{ page.css | relative_url }}" />
  {% endif %}
  <script defer src="{{ '/assets/js/site.js' | relative_url }}"></script>
    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/favicons/favicon-64.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ '/assets/favicons/favicon-128.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="256x256" href="{{ '/assets/favicons/favicon-256.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/favicon-180.png' | relative_url }}">
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>
